In [1]:
import pymysql

In [4]:
#Establishing the Connection with the SQL
connection = pymysql.connect(
                            host = 'localhost',
                            user = 'root',
                            password = 'Amaan@49',
                            database = 'actor'
)

In [5]:
cur = connection.cursor()

In [6]:
#Creating the Tables
table = '''
create table actor(act_id int primary key,
                   act_name varchar(30),
                   act_gender varchar(10)
                   )
'''

In [7]:
cur.execute(table)

0

In [8]:
table = '''
create table director(dir_id int primary key,
                   dir_name varchar(30),
                   dir_phone int
                   )
'''

In [9]:
cur.execute(table)

0

In [10]:
table = '''
create table movies(mov_id int primary key,
                   mov_title varchar(30),
                   mov_year int,
                   mov_lang varchar(10),
                   dir_id int,
                   foreign key(dir_id) references director(dir_id)
                   )
'''

In [11]:
cur.execute(table)

0

In [22]:
table = '''
create table movies_cast(act_id int ,
                   mov_id int,
                   role varchar(30),
                   primary key(act_id,mov_id),
                   foreign key(act_id) references actor(act_id),
                   foreign key(mov_id) references movies(mov_id)
                   )
'''

In [23]:
cur.execute(table)

0

In [20]:
table ='''
create table rating(mov_id int primary key,
rev_stars varchar(30),
foreign key(mov_id) references movies(mov_id)
)
'''

In [21]:
cur.execute(table)

0

In [30]:
#Taking the values from the user for ACTORS
a = int(input('Enter the id of actor:'))
b = str(input('Enter the name of the actor:'))
c = str(input('Enter the Gender of the actor:'))

Enter the id of actor:4
Enter the name of the actor:SRIDEVI
Enter the Gender of the actor:F

In [31]:
#Dynamically inserting the values
values = "insert into actor (act_id,act_name,act_gender) values(%s,%s,%s)"
cur.execute(values,(a,b,c))
cur.execute('commit')

0

In [44]:
#Taking the values from the user fro DIRECTOR
a = int(input('Enter the id of director:'))
b = str(input('Enter the name of the director:'))
c = int(input('Enter the Number of the director:'))

Enter the id of director:106
Enter the name of the director:STEVEN SPIELBERG
Enter the Number of the director:99651

In [45]:
#Dynamically inserting the values
values = "insert into director (dir_id,dir_name,dir_phone) values(%s,%s,%s)"
cur.execute(values,(a,b,c))
cur.execute('commit')

0

In [60]:
#Taking the values from the user fro MOVIES
a = int(input('Enter the id of Movie:'))
b = str(input('Enter the Title of the Movie:'))
c = int(input('Enter the Year of the Movie:'))
d = str(input('Enter the language of the movie:'))
e = int(input('Enter the id of the director:'))

Enter the id of Movie:508
Enter the Title of the Movie:SHADOW OF A DOUBT
Enter the Year of the Movie:1943
Enter the language of the movie:ENGLISH
Enter the id of the director:105

In [61]:
#Dynamically inserting the values
values = '''
insert into movies values(%s,%s,%s,%s,%s)
'''
cur.execute(values,(a,b,c,d,e))
cur.execute('commit')

0

In [70]:
#Taking the values from the user for MOVIE_CAST
a = int(input('Enter the id of actor:'))
b = int(input('Enter the id of the movie:'))
c = str(input('Enter the role of the actor:'))

Enter the id of actor:4
Enter the id of the movie:501
Enter the role of the actor:HERO

In [71]:
#Dynamically inserting the values
values = "insert into movies_cast values(%s,%s,%s)"
cur.execute(values,(a,b,c))
cur.execute('commit')

0

In [82]:
#Taking the values from the user fro RATING
a = int(input('Enter the id of movie:'))
b = int(input('Enter the Number of the Stars:'))

Enter the id of movie:506
Enter the Number of the Stars:2

In [83]:
#Dynamically inserting the values
values = "insert into rating values(%s,%s)"
cur.execute(values,(a,b))
cur.execute('commit')

0

In [84]:
#Retrieving the Actor Values

actor = "select * from actor"
cur.execute(actor)
result = cur.fetchall()
for i in result:
    print(i)

(1, 'MADHURI DIXIT', 'F')
(2, 'AAMIR KHAN', 'M')
(3, 'JUHI CHAWLA', 'F')
(4, 'SRIDEVI', 'F')

In [85]:
#Retrieving the Director Values

director = "select * from director"
cur.execute(director)
result = cur.fetchall()
for i in result:
    print(i)

(100, 'SUBHASH KAPOOR', 98765)
(102, 'ALAN TAYLOR', 99719)
(103, 'SANTHOSH ANANDDRAM', 99346)
(104, 'IMTIAZ ALI', 85399)
(105, 'HITCHCOCK', 77661)
(106, 'STEVEN SPIELBERG', 99651)

In [86]:
#Retrieving the Movies Values

mov = "select * from movies"
cur.execute(mov)
result = cur.fetchall()
for i in result:
    print(i)

(501, 'JAB HARRY MET SEJAL', 2017, 'HINDI', 104)
(502, 'RAJAKUMARA', 2017, 'KANNADA', 103)
(503, 'JOLLY LLB 2', 2013, 'HINDI', 100)
(504, 'TERMINATOR GENESYS', 2015, 'ENGLISH', 102)
(505, 'JAWS', 1975, 'ENGLISH', 106)
(506, 'BRIDGE OF SPIES', 2015, 'ENGLISH', 106)
(507, 'VERTIGO', 1943, 'ENGLISH', 105)
(508, 'SHADOW OF A DOUBT', 1943, 'ENGLISH', 105)

In [87]:
#Retrieving the Movie_Cast Values

cast = "select * from movies_cast"
cur.execute(cast)
result = cur.fetchall()
for i in result:
    print(i)

(1, 501, 'HEROINE')
(1, 502, 'HEROINE')
(3, 503, 'COMEDIAN')
(4, 501, 'HERO')
(4, 504, 'GUEST')

In [88]:
#Retrieving the Rating Values

rating = "select * from rating"
cur.execute(rating)
result = cur.fetchall()
for i in result:
    print(i)

(501, '4')
(502, '2')
(503, '5')
(504, '4')
(505, '3')
(506, '2')

In [89]:
#Queries 1
#List the titles of all movies directed by 'Hitchcock'

q1 = '''
select mov_title from movies where dir_id in (select dir_id from director where dir_name='HITCHCOCK')
'''
cur.execute(q1)
result = cur.fetchall()
for i in result:
    print(i)

('VERTIGO',)
('SHADOW OF A DOUBT',)

In [91]:
#Query 2
# List all actors who acted in a movie before 2000 and also in a movie after 2015

q2 = '''
select act_name,mov_title,mov_year from actor a join movies_cast c on a.act_id=c.act_id 
inner join movies m on c.mov_id=m.mov_id 
where m.mov_year not between 2000 and 2015;
'''
cur.execute(q2)
result = cur.fetchall()
for i in result:
    print(i)

('MADHURI DIXIT', 'JAB HARRY MET SEJAL', 2017)
('SRIDEVI', 'JAB HARRY MET SEJAL', 2017)
('MADHURI DIXIT', 'RAJAKUMARA', 2017)